html {
  height: 100%;
}
body {
  font-family: sans-serif;
  color: white;
  text-align: center;
  position: relative;
  font-size: 30px;
  background-image: url("https://images3.alphacoders.com/187/thumb-1920-187149.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-Flex-container {
  align-items: center;
  height: 94vh;
}

.header-control {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 4vh;
}

.reset-score-button:hover {
  box-shadow: 0 0 10px 4px rgb(255, 255, 255, 0.8);
}
.reset-score-button {
  font-size: 26px;
  padding: 16px 18px;
  margin-top: 2vh;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  color: rgb(79, 179, 32);
  background: rgb(43,8,111);
  background: linear-gradient(90deg, rgba(43,8,111,1) 0%, rgba(101,27,139,1) 100%);
}
.reset-score-button:active {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.8) inset;
  color: white;
}

.button-cluster {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 4vh;
}

.button-cluster2 {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 6vh;
}

.button-cluster, .button-cluster2 {
  gap: 30px;
}

.results-cluster {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

.bank-control {
  width: 25%;
  display: inline-block;
  text-align: center;
}

.score-control {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.loan-div {
  width: 25%;
  height: 20vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-control, .score-control, .loan-control {
  font-size: 24px;
}


.loan-control:hover {
  box-shadow: 0 0 10px 4px rgb(255, 255, 255, 0.8);
}
.loan-control {
  font-size: 26px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border-radius: 1.5vh;
  font-weight: bold;
  border: none;
  color: rgb(79, 179, 32);
  background: rgb(43,8,111);
  background: linear-gradient(90deg, rgba(43,8,111,1) 0%, rgba(101,27,139,1) 100%);
}

.loan-control:active {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.8) inset;
  color: white;
}

.play-cards1 {
  background-color: transparent;
  cursor: pointer;
  margin-top: 0;
  border: none;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.play-cards2 {
  background-color: transparent;
  cursor: pointer;
  margin-top: 0;
  border: none;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.image-control {
  height: 190px;
  max-width: 100%;
  width: auto;
  border-radius: 90px;
}
  
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  display: none;
}

.pop-up-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #7059c2;
}

.pop-up-inside-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.pop-up-body {
  padding: 10px 15px;
  background-color: #7059c2;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  opacity: 0;
} 

.loan-value-div {
  position: fixed;
  background-color: rgb(142, 209, 78);
  font-weight: bold;
  width: 130px;
  height: 90px;
  border-radius: 2px;
  display: none;
  cursor: pointer;
  bottom: 125px;
}

.loan-value2:hover {
  background-color: green;
  outline: orangered solid 1px;
}
.loan-value2 {
  margin: 0px;
  height: 39%;
  text-align: center;
}
.loan-value2:active {
  background-color: rgb(142, 209, 78);
}

.loan-value2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.loan-value5:hover {
  background-color: green;
  outline: orangered solid 1px;
}
.loan-value5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 39%;
}
.loan-value5:active {
  background-color: rgb(142, 209, 78);
}

.loan-value5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.loan-close-button {
  display: block;
  width: 100%;
  height: 22%;
}

@media (max-width: 900px) {
  body {
    font-size: 24px;
  }
  .reset-score-button {
    font-size: 22px;
    padding: 15px 17px;
    border-radius: 19px;
  }
  .button-cluster2 {
    margin-top: 5vh;
  }
  .button-cluster, .button-cluster2 {
    gap: 22px;
  }
  .bank-control, .score-control, .loan-control {
    font-size: 20px;
  }
  .loan-value-div {
    width: 100px;
    height: 84px;
    bottom: 155px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }
  .reset-score-button {
    font-size: 18px;
    padding: 14px 16px;
    border-radius: 18px;
  }
  .button-cluster2 {
    margin-top: 1vh;
  }
  .button-cluster, .button-cluster2 {
    gap: 18px;
  }
  .image-control {
    height: 120px;
  }
  .bank-control, .score-control, .loan-control {
    font-size: 16px;
  }
  .loan-value-div {
    width: 80px;
    height: 88px;
    bottom: 205px;
  }
}

@media (max-width: 451px) {
  body {
    font-size: 16px;
  }
  .reset-score-button {
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 16px;
  }
  .button-cluster, .button-cluster2 {
    gap: 16px;
  }
  .image-control {
    height: 100px;
  }
  .loan-control {
    padding: 10px 12px;
  }
  .bank-control, .score-control, .loan-control {
    font-size: 12px;
  }
  .loan-value-div {
    width: 60px;
    height: 90px;
    bottom: 210px;
  }
}