html {
  height: 100%;
}
body {
  font-family: sans-serif;
  color: white;
  text-align: center;
  position: relative;
  font-size: 30px;
  background-image: url("https://images3.alphacoders.com/187/thumb-1920-187149.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-Flex-container {
  align-items: center;
  height: 96vh;
}

.header-control {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 4vh;
}

.reset-score-button:hover {
  box-shadow: 0 0 10px 4px rgb(255, 255, 255, 0.8);
}
.reset-score-button {
  font-size: 26px;
  padding: 16px 18px;
  margin-top: 2vh;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  color: rgb(79, 179, 32);
  background: rgb(43,8,111);
  background: linear-gradient(90deg, rgba(43,8,111,1) 0%, rgba(101,27,139,1) 100%);
}
.reset-score-button:active {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.8) inset;
  color: white;
}

.button-cluster {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh;
  box-sizing: border-box;
  margin-top: 4vh;
}

.button-cluster2 {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh;
  box-sizing: border-box;
}

.button-cluster, .button-cluster2 {
  gap: 30px;
}

.results-cluster {
  width: 100%;
  min-height: 18%;
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

.bank-control {
  width: 25%;
  display: inline-block;
  text-align: center;
  font-size: 3vh;
}

.score-control {
  display: inline-block;
  width: 50%;
  font-size: 3vh;
  text-align: center;
}

.loan-div {
  width: 25%;
  height: 20vh;
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loan-control:hover {
  box-shadow: 0 0 10px 4px rgb(255, 255, 255, 0.8);
}
.loan-control {
  font-size: 26px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border-radius: 1.5vh;
  font-weight: bold;
  border: none;
  color: rgb(79, 179, 32);
  background: rgb(43,8,111);
  background: linear-gradient(90deg, rgba(43,8,111,1) 0%, rgba(101,27,139,1) 100%);
}

.loan-control:active {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.8) inset;
  color: white;
}

.play-cards1 {
  background-color: transparent;
  cursor: pointer;
  margin-top: 0;
  border: none;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.play-cards2 {
  background-color: transparent;
  cursor: pointer;
  margin-top: 0;
  border: none;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.image-control {
  height: auto;
  max-height: 18vh;
  max-width: 100%;
  border-radius: 56px;
  object-fit: contain;
}
  
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  display: none;
}

.pop-up-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #7059c2;
}

.pop-up-inside-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.pop-up-body {
  padding: 10px 15px;
  background-color: #7059c2;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  opacity: 0;
} 

.loan-value-div {
  background-color: rgb(142, 209, 78);
  color: rgb(255, 255, 255);
  font-weight: bold;
  height: 12vh;
  width: 12vh;
  padding-bottom: 2vh;
  margin-right: 0vw;
  border-radius: 2px;
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 14.3vh;
}

.loan-value2:hover {
  background-color: green;
}
.loan-value2 {
  margin-top: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 0vh;
}
.loan-value2:active {
  background-color: rgb(142, 209, 78);
}

.loan-value5:hover {
  background-color: green;
}
.loan-value5 {
  margin-top: 0vh;
  margin-bottom: 0;
  padding-top: 1vh;
  height: 36%;
}
.loan-value5:active {
  background-color: rgb(142, 209, 78);
}

.loan-close-button {
  height: 24%;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }
  .reset-score-button {
    font-size: 18px;
    padding: 14px 16px;
    border-radius: 18px;
  }
  .button-cluster, .button-cluster2 {
    gap: 10px;
  }
}